body {
    margin: 0;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*
font-family: 'Bonheur Royale',
cursive;
font-family: 'Fondamento',
cursive;
font-family: 'Prociono',
serif;
font-family: 'Source Serif Pro',
serif;
font-family: 'The Girl Next Door',
cursive;
*/

h1 {
    margin-top: 0;
    font-family: 'Bonheur Royale', Serif;
}

h2 {
    font-family: 'Source Serif Pro', serif;
}

h3 {
    font-family: 'Source Serif Pro', serif;
}

.top-container {
    background-color: #E5E3C9;
    position: relative;
    padding-top: 100px;
}

.middle-container {

}

.bottom-container {

}

.profile-paragraph {
    padding-left: 25px;
    padding-right: 25px;
}

.learning-resource-paragraph {
    padding-left: 25px;
    padding-right: 25px;
}

.opt {
    text-decoration: underline;
}

.top-cloud {
    position: absolute;
    right: 600px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 600px;
    bottom: 350px;;
}

