body {
    margin: 0;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 200%;
}

/*
font-family: 'Bonheur Royale',
cursive;
font-family: 'Fondamento',
cursive;
font-family: 'Prociono',
serif;
font-family: 'Source Serif Pro',
serif;
font-family: 'The Girl Next Door',
cursive;
*/

h1 {
    font-size: 5.625rem;
    margin-top: 0;
    font-family: 'Bonheur Royale', Serif;
    margin: 50px auto 0 auto;
    color: #94B49F;
}

h2 {
    font-size: 2.5rem;
    font-family: 'Source Serif Pro', serif;
    font-weight: normal;
    color: #94B49F;
}

h3 {
    font-family: 'Source Serif Pro', serif;
    color: #789395;
}
a {
    color: #789395;
}

.top-container {
    background-color: #E5E3C9;
    position: relative;
    padding-top: 100px;
}

.middle-container {

}

.bottom-container {
    margin-top: 20px;
}

.resource-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.profile-paragraph {
    padding-left: 25px;
    padding-right: 25px;
}

.learning-resource-paragraph {
    padding-left: 25px;
    padding-right: 25px;
}

.opt {
    text-decoration: underline;
}

.top-cloud {
    position: absolute;
    right: 600px;
    top: 100px;
}

.bottom-cloud {
    position: absolute;
    left: 600px;
    bottom: 350px;;
}

.youtube-pic {
    width: 45%;
    float: left;
    margin-right: 30px;
}

.yahoo-finance-pic {
    width: 45%;
    float: right;
    margin-left: 30px;
}

.btn {
    background: #B4CFB0;
    background-image: -webkit-linear-gradient(top, #B4CFB0, #789395);
    background-image: -moz-linear-gradient(top, #B4CFB0, #789395);
    background-image: -ms-linear-gradient(top, #B4CFB0, #789395);
    background-image: -o-linear-gradient(top, #B4CFB0, #789395);
    background-image: linear-gradient(to bottom, #B4CFB0, #789395);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #789395;
    background-image: -webkit-linear-gradient(top, #789395, #E5E3C9);
    background-image: -moz-linear-gradient(top, #789395, #E5E3C9);
    background-image: -ms-linear-gradient(top, #789395, #E5E3C9);
    background-image: -o-linear-gradient(top, #789395, #E5E3C9);
    background-image: linear-gradient(to bottom, #789395, #E5E3C9);
    text-decoration: none;
}

